{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<button class="btn" type="button" onclick="location.href='/';">Return to the input page</button>
<h2>Decrypter App for solving any types of cipher quests or converting coordinates.</h2>
<h4>Created specifically for <a href="http://dzzzr.ru/">Night Game DozoR</a>, also can be useful for another same projects.</h4>
<h4 style="margin-top:10px;">Author: <a href="https://twitter.com/m_messiah">Messiah</a><br>
Command: <a href="http://nzz-ekb.ru">Ночной Zoom-Zoom</a></h4>
<h4 style="margin-top:10px;">Sources available on <a href="https://github.com/m-muzafarov/decrypter">GitHub</a>. You can send me new ideas and capabilities, that you want to see here.</h4>

{% endblock %}
