{% extends "base.html" %}
{% block title %}Decrypted{% endblock %}
{% block style %}
body{margin:0;}
{% endblock %}
{% block content %}
<div class="your_input pure-g">
    <div class="pure-u-1 pure-u-md-1-4 baseline"><strong>Your input</strong></div>
    <div class="pure-u-1 pure-u-md-3-4 baseline">{{ encrypted }}</div>
</div>
<div class="pure-g">
    {% for typeCrypto,result in decrypted %}
    <div class="pure-u-1 pure-u-md-1-4 pure-u-lg-1-6"><strong>{{ typeCrypto|safe }}</strong></div>
    <div class="pure-u-1 pure-u-md-3-4 pure-u-lg-5-6">{{ result|safe }}</div>
    {% endfor %}
</div>
{% endblock %}
