{% extends "base.html" %}

{% block title %}Decrypter{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<h3>Enter your strange text to the field below</h3>
<form action="/" method="post" class="pure-form pure-form-stacked">
    {% csrf_token %}
    <textarea class="pure-input-1" rows=5 name="encrypted" placeholder="encrypted" tabindex="1"></textarea>
<h3>or enter coordinates here.</h3>
    <input class="pure-input-1-2" type="text" name="coordinates1" placeholder="latitude" />
    <input class="pure-input-1-2" type="text" name="coordinates2" placeholder="longitude" />
    <button class="pure-button pure-input-1 pure-button-primary" style="width:100%;margin-top:5px;" type="submit" tabindex="2">Analyze!</button>
</form>
{% endblock %}
