{% extends "base.html" %}

{% block title %}Decrypter{% endblock %}

{% block content %}
<div>
<h3>Enter your strange text to the field below</h3>
<form action="/" method="post">
    {% csrf_token %}
    <textarea rows=5 name="encrypted" placeholder="encrypted" tabindex="1"></textarea>
<h3>or enter coordinates here.</h3>
    <textarea rows=1 name="coordinates" placeholder="coordinates"></textarea>

    <button class="btn btn-primary" style="width:98%;margin-top:5px;" type="submit" tabindex="2"><i class="glyphicon glyphicon-fire glyphicon-white"></i> Analyze!</button>
</form>
</div>
{% endblock %}
