<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <style>
        TABLE,TD,TH {
        //margin-bottom: 10px;
        border: 1px solid black;
        border-collapse: collapse;
        }
        TD,TH {
            padding: 5px;
        }
        TH {
            #background-color: #f0f0f0;
        }
    </style>
    <title>{% block title %}Default{% endblock %} / Messiah</title>
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>
