{% extends "base.html" %}

{% block title %}Decrypter{% endblock %}

{% block content %}
<div style="margin-left:3%; width: 30%;">
<h3>Enter your strange text to the field below</h3>
<form action="/decrypter/" method="post">
    {% csrf_token %}
    <textarea cols=40 rows=5 name="encrypted" placeholder="encrypted"></textarea>
<h3>or enter coordinates here.</h3>
    <input type="text" name="coordinates" placeholder="coordinates">
<br>
    <button class="btn btn-primary pull-right" type="submit"><i class="icon-fire icon-white"></i> Analyze!</button>
</form>
</div>
{% endblock %}
